<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.example.springtask"/>

    <bean id="studentArtemiy" class="com.example.springtask.model.student.Student"
          init-method="init">
        <constructor-arg name="name" value="Artemiy"/>
        <constructor-arg name="subjectMarkMap">
            <map>
                <entry key="Math" value="GOOD"/>
                <entry key="Biology" value="EXCELLENT"/>
                <entry key="Physics" value="SATISFACTORY"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="studentDimitriy" class="com.example.springtask.model.student.Student"
          init-method="init">
        <constructor-arg name="name" value="Dimitriy"/>
        <constructor-arg name="subjectMarkMap">
            <map>
                <entry key="Math" value="SATISFACTORY"/>
                <entry key="Biology" value="UNSATISFACTORY"/>
                <entry key="Physics" value="UNSATISFACTORY"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="studentJil" class="com.example.springtask.model.student.Student"
          init-method="init">
        <constructor-arg name="name" value="Jil"/>
        <constructor-arg name="subjectMarkMap">
            <map>
                <entry key="Math" value="UNSATISFACTORY"/>
                <entry key="Biology" value="UNSATISFACTORY"/>
                <entry key="Physics" value="UNSATISFACTORY"/>
            </map>
        </constructor-arg>
    </bean>

</beans>